package-lock=false
NPM_CONFIG_PRODUCTION=false
NODE_MODULES_CACHE=false
# not modified too often, set NPM_CONFIG_PRODUCTION to false for heroku
# makes heroku install dev dependencies so it can run the build
# would need to remove for actual production deployment 