<div>
    <input [(ngModel)]="searchText" (ngModelChange)="searchTextChange()" type="text" name="search" class="form-control">
    <div *ngIf="queryResults | async" class="autocomplete">
      <ul class="autocomplete-panel">
        <li *ngFor="let query of queryResults | async; let i = index" [ngClass]="{'highlighted': highlighted === i }" 
        (mouseenter)="setIndex(i)" (click)="navWithParams('/profile', query.id); queryResults = null; searchText = ''">
          {{ query.firstName + ' ' + query.lastName }}
        </li>
      </ul>
    </div>
  </div>