<div class="margin-left">
    <div>
        <div>{{ (userInformation | async)?.firstName }} {{  (userInformation | async)?.lastName }} </div>
        <div>Birthday: {{ (userInformation | async)?.birthDate }}</div>
        <div>Motto: {{ (userInformation | async)?.motto }}</div>
    </div>
    <div>
        Name: <input type="text" name="modify-name" [(ngModel)]="modifyName"> 
        Age: <input type="number" name="modify-age" [(ngModel)]="modifyAge">
        <button (click)="changeUserAge()" class="btn btn-primary">Change User Age</button>
    </div>
</div>