<div class="container">
	<div class="wrapper">
		<form #loginForm="ngForm" class="form-signin">       
		    <h3 class="form-signin-heading">Reset Your Password</h3>
			  <hr class="colorgraph"><br>
			  <input #pw="ngModel" type="password" class="form-control" name="password" placeholder="New Password" required autofocus="" [(ngModel)]="password" />
        <div [hidden]="pw.valid || pw.pristine" class="alert alert-danger">
          New password is required for reset
        </div>
			  <button class="btn btn-lg btn-primary btn-block" [disabled]="!pw.valid" (click)="changePassword()">Change Password</button>
		</form>			
	</div>
</div>