<div class="container">
	<div class="wrapper">
		<form #loginForm="ngForm" class="form-signin">       
		    <h3 class="form-signin-heading">Reset Your Password</h3>
			  <hr class="colorgraph"><br>
			  <input #un="ngModel" type="text" class="form-control" name="username" placeholder="Username" required autofocus="" [(ngModel)]="email" />
        <div [hidden]="un.valid || un.pristine" class="alert alert-danger">
          Username/Email is required
        </div>
			  <button class="btn btn-lg btn-primary btn-block" (click)="reset()">Send Reset Email</button>
		</form>			
	</div>
</div>