<section class="container">
  
  <div class="row">

    <!--left 40% conversational partners-->
    <div class="col-md-4 offset-md-1">
      <div *ngFor="let partner of conversations$ | async" (click)="selectedConversation(partner)"  class="card card-inverse card-primary mb-3 text-center">
        {{ partner?.conversationalPartner }}
      </div>
    </div>

    <!--right 60% messages-->
    <div class="col-md-6 card">
      <div *ngFor="let message of selectedConversationalPartner?.messages" class="message-divider">
        <div class="text-center">
          {{ formatDate(message.date) }}
        </div>
        <div *ngIf="selectedConversationalPartner.conversationalPartner === message.name" class="text-left">
          <div>
            <b>{{ message.name }}</b>
            <div>
              {{ message.message }}
            </div>
          </div>
        </div>
        <div *ngIf="selectedConversationalPartner.conversationalPartner !== message.name" class="text-right">
          <div>
            <b>{{ message.name }}</b>
            <div>
              {{ message.message }}
            </div>
          </div>
        </div>
      </div>  
    </div>

  </div>

</section>